{extend name="public:public"}
 {block name="title"}<title>DouPHP 管理中心 </title>{/block}
 {block name="script"}
 <link href="/admins/css/public.css" rel="stylesheet" type="text/css">
 <script type="text/javascript" src="/admins/js/jquery.min.js"></script>
 <script type="text/javascript" src="/admins/js/global.js"></script>
 {/block}
{block name="now"}
<!-- 当前位置 -->
 <div id="dcMain">
 <div id="urHere">DouPHP 管理中心</div>
  <div id="index" class="mainBox" style="padding-top:18px;height:auto!important;height:550px;min-height:550px;">
   <h1>欢迎使用后台</h1>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div>
{/block}
