{extend name="public:public"}
{block name="title"}<title>DouPHP 管理中心 - 添加权限 </title>{/block}
{block name="script"}
<link href="/admins/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/admins/js/jquery.min.js"></script>
<script type="text/javascript" src="/admins/js/global.js"></script>
{/block}
{block name="now"}
<!-- 当前位置 -->
 <div id="dcMain">
<div id="urHere">DouPHP 管理中心<b>></b><strong>添加权限</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    <h3><a href="{:url('Node/index')}" class="actionBtn">权限管理</a>添加权限</h3>
    <form action="{:url('Node/add')}" method="post">
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <td width="100" align="right">权限名称</td>
                <td>
                    <input type="text" name="node_name" size="40" class="inpMain" />
                </td>
            </tr>
            <tr>
                <td align="right">上级权限</td>
                <td>
                    <select name="node_pid">
                        <option value="0">顶级权限</option>
                        {foreach $nodeOrder as $key=>$vo }
                        <option value="{$vo.node_id}">{:str_repeat('　　',$vo->level)}{$vo.node_name}</option>
                        {/foreach}
                    </select>
                </td>
            </tr>
            <tr>
                <td width="100" align="right">控制器名称</td>
                <td>
                    <input type="text" name="node_controller" size="40" class="inpMain" />
                </td>
            </tr>
            <tr>
                <td width="100" align="right">方法名称</td>
                <td>
                    <input type="text" name="node_action" size="40" class="inpMain" />
                </td>
            </tr>
            <tr>
                <td width="100" align="right">权限url</td>
                <td>
                    <input type="text" name="node_url" size="40" class="inpMain" />
                </td>
            </tr>
            <tr>
                <td width="100" align="right">是否菜单</td>
                <td>
                    <input type="radio" checked name="node_ismenu" value="1"  />是
                    <input type="radio" name="node_ismenu" value="0"  />否
                </td>
            </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" class="btn" value="提交" />
            </td>
        </tr>

        </table>
    </form>
 </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2013-2015 漳州豆壳网络科技有限公司，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
{/block}