<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台登录</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/admin/css/style.css" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="/admin/js/jquery.js"></script>
<script src="/admin/js/verificationNumbers.js"></script>
<script src="/admin/js/Particleground.js"></script>
<script type="text/javascript" src="/layer/layer/layer.js"></script>
<script>
$(document).ready(function() {
    var validate = {
        checkName  :  false,
        checkPwd   :  false,
        checkCode  :  false
    };
    //账号
    $("input[name=admin_name]").blur(function(){
        var admin_name = $(this).val().trim();
        if (admin_name == "") {
            layer.tips('请输入账号',$(this));
            validate.checkName = false;
            return false
        }
    });
    //密码
    $("input[name=admin_pwd]").blur(function(){
        var admin_pwd = $(this).val().trim();
        if (admin_pwd == "") {
            layer.tips('请输入密码',$(this));
            validate.checkPwd = false;
            return false
        }
    });

    //验证码
    $("input[name=admin_code]").blur(function(){
        var admin_code = $(this).val().trim();
        if (admin_code == "") {
            layer.tips('请输入密码',$(this));
            validate.checkCode = false;
            return false
        }
    });

    //提交登录
    $('.submit_btn').click(function(){
        $("input[name=admin_name]").trigger("blur");
        $("input[name=admin_pwd]").trigger("blur");
        $("input[name=admin_code]").trigger("blur");
        var admin_name = $("input[name=admin_name]").val().trim();
        var admin_pwd = $("input[name=admin_pwd]").val().trim();
        var admin_code = $("input[name=admin_code]").val().trim();
        var save=$("input[name=save]").prop("checked");
        //alert(1);
            //发送ajax验证
            $.ajax({
                type : "post",
                url  : "{:url('Login/login')}",
                data : {
                    admin_name:admin_name,
                    admin_pwd:admin_pwd,
                    admin_code:admin_code,
                    save:save
                },
                dataType:"json",
                success:function(data){
                    if(data.status==4){
                        layer.alert(data.msg,{
                            icon: 6,
                            skin: 'layer-ext-moon'
                        });
                        window.location.href="{:url('Index/index')}";
                    }
                    if(data.status==0){
                        alert(data.msg);
                    }
                    if(data.status==1){
                        alert(data.msg);
                    }
                    if(data.status==2){
                        alert(data.msg);
                    }
                    if(data.status==3){
                        alert(data.msg);
                    }
                    if(data.status==5){
                        alert(data.msg);
                    }
                }
            })

    });


  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
});
</script>
</head>
<body>
<dl class="admin_login">
 <dt>
  <strong>站点后台管理系统</strong>
  <em>Management System</em>
 </dt>
 <dd class="user_icon">
  <input type="text"  placeholder="账号" name="admin_name" class="login_txtbx"/>
 </dd>
 <dd class="pwd_icon">
  <input type="password" placeholder="密码" name="admin_pwd" class="login_txtbx"/>

 </dd>
    <dd class="val_icon">
            <input type="text" id="J_codetext" placeholder="验证码" name="admin_code" class="login_txtbx">
    </dd>
    <img src="{:captcha_src()}" alt="captche" onclick="this.src='{:captcha_src()}?'+Math.random()" width="100px" height="40px">
    <dd>
 <div>
  <input type="checkbox" value="1" name="save" />七天免登陆
 </div>
 <dd>
  <input type="button" value="立即登陆" class="submit_btn"/>
 </dd>
 <dd>
  <p>© 2015-2016 DeathGhost 版权所有</p>
  <p>陕B2-20080224-1</p>
 </dd>
</dl>
</body>
</html>
